* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hostel-attendance {
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  background-color: #4051a4;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
}

.data-fields {
  font-weight: bold;
}

.student-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}



.attendance {
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  width: 90%;
  height: 100%;
}

thead {
  background-color: lightgray;
  position: sticky;
  top: 0;
  z-index: 10;
}

tbody {
  overflow: scroll;
  height: 50px;

}

tr,
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}


.attendance-status-info {
  margin-top: 20px;
  font-size: 1.2rem;
}

.present-status {
  color: green;
  font-weight: bolder;
}

.absent-status {
  color: red;
  font-weight: bolder;
}

.night-pass-leave-status {
  color: blue;
  font-weight: bolder;
}


h4 {
  margin-bottom: 0px;
}
